.page-contact {
  .contact__title {
    text-align: center;
  }
}

.contact {

  // .contact__container

  &__container {}

  // .contact__title

  &__title {
    margin-bottom: 40px;
  }

  // .contact__row

  &__row {
    display: flex;
    gap: 20px;
  }

  // .contact__col

  &__col {
    background-color: rgba($color: $white, $alpha: 1.0);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba($color: $mainColor, $alpha: .1);
    border: 1px solid rgba($color: $mainColor, $alpha: .1);

    @media screen and (min-width: 920px) {
      width: 50%;
    }
  }

  // .contact__map

  &__map {
    padding: 20px;
    background-color: rgba($color: $white, $alpha: 1.0);
    box-shadow: 0px 0px 10px rgba($color: $mainColor, $alpha: .1);
    border: 1px solid rgba($color: $mainColor, $alpha: .1);
    border-radius: 8px;
    margin-top: 20px;
  }
}

.contact-info {

  // .contact-info__row

  &__row {
    padding: 30px 0px;

    &:not(:last-child) {
      border-bottom: 1px solid rgba($color: $mainColor, $alpha: .1);
    }
  }

  // .contact-info__icon

  &__icon {
    font-size: 20px;
    color: $orange;
    margin-bottom: 10px;
  }

  // .contact-info__content

  &__content {
    line-height: 140%;
    font-weight: 600;
  }
}

.form {

  // .form__form

  &__form {
    display: flex;
    flex-direction: column;
  }

  // .form__group

  &__group {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    label {
      line-height: 140%;
      font-weight: 700;
      font-size: 13px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.require::before {
        content: '*';
        font-size: 12px;
        color: $orange;
        margin-right: 7px;
      }

    }


  }

  // .form__controls

  &__controls {
    width: 100%;
    padding: 17px 20px;
    border: 1px solid rgba($color: $mainColor, $alpha: .2);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: rgba($color: $mainColor, $alpha: .5);
    }

    &::placeholder {
      font-size: 13px;
    }
  }

  // .form__btn

  &__btn {
    background-color: $orange;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-weight: 600;
    border-radius: 6px;
  }

  // .form__agree

  &__agree {
    margin-top: 30px;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid rgba($color: $mainColor, $alpha: .2);
      margin-right: 10px;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -5px;
        border-radius: 2px;
        width: 10px;
        height: 10px;
        display: block;
        background-color: rgba($color: $orange, $alpha: 1.0);
        transform: scale(0);
        transition: $animation_speed;
      }

      &:checked {
        border-color: rgba($color: $orange, $alpha: 1.0);

        &::before {
          transform: scale(1);
        }
      }
    }

    label {
      font-size: 16px;
      font-weight: 400;
    }
  }
}