{% extends 'base.html' %} {% load static %}
{% block title %}{{ settings.meta_title }}{% endblock %}
{% block description %}{{ settings.meta_description }}{% endblock %}
{% block keywords %}{{ settings.meta_keywords }}{% endblock %}
{% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner" data-speed="70">
    {% if settings.image %}
    {% thumbnail settings.image "1920x830" format="WEBP" crop="center" as im %}
    <img src="{{ im.url }}"
         alt="{{ about_page.title }}"
         title="{{ about_page.title }}"
         class="single-banner__image _bgImage"
    >
    {% endthumbnail %}
    {% endif %}

    <div class="container">
      <div class="single-banner__inner">
        <h1 class="stock__title _title">{% if settings.meta_h1 %}{{ settings.meta_h1 }}{% else %} О нас {% endif %}</h1>
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            Блог
            <meta itemprop="position" content="2"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <section class="blog">
    <div class="container">
      {% if articles %}
      <div class="blog__grid">
        {% for article in articles %}
        <div class="blog__item article">
          <div class="article__inner">
            <a href="{{ article.get_absolute_url }}" class="article__image">
              {% if article.image %} {% thumbnail article.image "393x300" format="WEBP" as im %}
              <img src="{{ im.url }}" alt="{{ article.name }}" title="{{ article.name }}" />
              {% endthumbnail %} {% else %}
              <img src="{% static 'theme/img/no-image.jpg' %}" alt="{{ article.name }}"
                title="{{ article.name }}" />
              {% endif %}
            </a>
            <div class="article__content">
              <a href="{{ article.get_absolute_url }}" class="article__name">{{ article.name }}</a>
              <p class="article__text">{{ article.text|safe|striptags|truncatechars:180 }}</p>
            </div>
          </div>
          <div class="article__bottom">
            <div class="article__icon">
              <i class="fa-regular fa-calendar-days"></i>
              <span>{{ article.date_creation }}</span>
            </div>
            <a href="{{ article.get_absolute_url }}" class="article__link">Читать</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="empty-info">
        <p>В данный момент страница дорабатывается</p>
      </div>
      {% endif %}
    </div>
    {% comment %} <p>{{ blog_setings.text }}</p> {% endcomment %}
  </section>

  {% include "../../includes/_contact.html" %}
</main>
{% endblock %}