{% extends 'base.html' %} {% load static %}
{% block title %}{{ article.meta_title }}{% endblock %}
{% block description %}{{ article.meta_description }}{% endblock %}
{% block keywords %}{{ article.meta_keywords }}{% endblock %}
{% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner" data-speed="70">
    {% if article.image %}
    {% thumbnail article.image "1920x830" format="WEBP" crop="center" as im %}
    <img src="{{ im.url }}"
         alt="{{ article.title }}"
         title="{{ article.title }}"
         class="single-banner__image _bgImage"
    >
    {% endthumbnail %}
    {% endif %}

    <div class="container">
      <div class="single-banner__inner">
        <h1 class="stock__title _title">{% if article.meta_h1 %}{{ article.meta_h1 }}{% else %} {{ article.name }}{% endif %}</h1>
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <a href="{% url 'blog' %}" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
              Статьи
            <meta itemprop="position" content="2"/>
          </a>
          <span itemprop="name" class="breadcrumbs__item">
            {{ article.name }}
            <meta itemprop="position" content="3"/>
          </span>
        </div>
      </div>
    </div>
  </div>

  <section class="about">
    <div class="container">
      <div class="about__inner">
        {% if articles %}
        <div class="link-bar">
          {% for article in articles %}
          <a href="{{ article.get_absolute_url }}" class="link-bar__link">{{ article.name }}</a>
          {% endfor %}
        </div>
        {% endif %}
        <div class="about__content">
          <div class="text">
            {{ article.text|safe }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "../../includes/_contact.html" %}
</main>
{% endblock %}