{% load static %}{% load thumbnail %}

<div class="index-banner">
  {% if home_page.banner %}
    {% thumbnail home_page.banner "1920x830" format="WEBP" crop="center" as im %}
      <img src="{{ im.url }}"
           alt="{{ home_page.untitle }} - {{ home_page.title }}"
           title="{{ home_page.untitle }} - {{ home_page.title }}"
           class="index-banner__image"
      >
    {% endthumbnail %}
  {% endif %}
  <div class="container">
    <div class="index-banner__content">
      <p class="index-banner__undertitle">
        {% if home_page.untitle %}
          {{ home_page.untitle }}
        {% endif %}
      </p>
      <h1 class="index-banner__title">
        {% if home_page.meta_h1 %}
          {{ home_page.meta_h1 }}
        {% else %}
          {{ home_page.title }}
        {% endif %}
      </h1>
      <div class="index-banner__btns">
        <a href="#index-catalog" class="index-banner__btn _btn">Меню дня</a>
        <!-- <a href="#" class="index-banner__btn btn">Связаться</a> -->
      </div>
    </div>
  </div>
</div>