body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
  position: relative;
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #eee;
  padding: 40px 40px 60px;
  width: 100%;
  max-width: 800px;
  border-radius: 20px;

  .lock & {
    visibility: visible;
  }

  @media screen and (max-width: 425px) {
    padding: 40px 20px 60px;
  }
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.popup-fulldescr {
  // .popup__grid

  .popup__grid {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // gap: 30px;
  }

  .popup-menu__close {
    left: calc(98% - 20px);
    top: 10px !important;
  }

  // .popup__image

  .popup__image {
    img {
      max-width: 100%;
      min-height: 250px;
    }
  }

  // .popup__info

  .popup__info {}

  // .popup__title

  .popup__title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  // .popup__price

  .popup__price {}

  // .popup__descr

  .popup__descr {
    line-height: 150%;
  }

  // .popup__bjy

  .popup__bjy {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .popup__btn {
    margin-top: 30px;
    height: 50px;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent;
    color: $bodyColor;
    font-size: 16px;
    transition: $animation_speed;

    &:hover {
      background-color: #74aa4b;
    }
  }
}

.popup-view {
  .card-product__descr {
    display: block;
  }

  .card-product__image img {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .card-product__image {
    min-height: 100%;
  }
}