.products {

  // .products__container

  &__container {}

  // .products__top

  &__top {}

  // .products__title

  &__title {
    font-size: clamp(35px, 5.5vw, 80px);
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-top: 50px;
  }
}