// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$main_font: "Manrope", sans-serif;
$titleFont: "Montserrat", sans-serif;

$fontSize: 16px; // где 16(px) - размер шрифта по умолчанию из макета

// Основные цвета
// $bodyColor: #ffffff;
$bodyColor: #f8f5f0;
$mainColor: #2b463c; // Цвет шрифта по умолчанию

$white: #ffffff;
$accent: #000000;
$animation_speed: 0.5s;

$white: #ffffff;
// $accent: #669f49;
// $accent: #8ea05d;
// $accent: #688f4e;
// $accent: #e76642;
$accent: #00CF00;
$grey: #e6e6e6;
$orange: #e76642;
$lightBlue: #d4e9f5;
$greenAplle: #59ce65;
$animation_speed: 0.5s;
