{% extends 'base.html' %} {% load static %}
{% block title %}{{ new.meta_title }}{% endblock %}
{% block description %}{{ new.description }}{% endblock %}
{% block keywords %}{{ new.keywords }}{% endblock %}
{% load shop_tags %} {% load thumbnail %} {% block content %}

<main class="page">
  <div class="single-banner" data-speed="70">
    {% if new.image %}
    {% thumbnail new.image "1920x830" format="WEBP" crop="center" as im %}
    <img src="{{ im.url }}"
         alt="{{ new.title }}"
         title="{{ new.title }}"
         class="single-banner__image _bgImage"
    >
    {% endthumbnail %}
    {% endif %}

    <div class="container">
      <div class="single-banner__inner">
        <h1 class="stock__title _title">{{ new.meta_h1 }}</h1>
        <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
          <a href="/" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
             class="breadcrumbs__item">
            Главная
            <meta itemprop="position" content="1"/>
          </a>
          <span itemprop="name" class="breadcrumbs__item">
        {{ new.meta_h1 }}
        <meta itemprop="position" content="3"/>
      </span>
        </div>
      </div>
    </div>
  </div>

  <section class="blog">
    <div class="container">
      {% if news %}
      <div class="blog__grid">
        {% for new in news %}
        <div class="blog__item article">
          <div class="article__inner">
            <a href="{{ new.get_absolute_url }}" class="article__image">
              {% if new.image %} {% thumbnail new.image "393x300" format="WEBP" as im %}
              <img src="{{ im.url }}" alt="{{ new.name }}" title="{{ new.name }}"/>
              {% endthumbnail %} {% else %}
              <img src="{% static 'theme/img/no-image.jpg' %}" alt="{{ new.name }}" title="{{ new.name }}"/>
              {% endif %}
            </a>
            <div class="article__content">
              <a href="{{ new.get_absolute_url }}" class="article__name">{{ new.name|truncatechars:80 }}</a>
              {{ new.text|safe|truncatechars:120 }}
            </div>
          </div>
          <div class="article__bottom">
            <div class="article__icon">
              <i class="fa-regular fa-calendar-days"></i>
              <span>{{ new.date_creation }}</span>
            </div>
            <a href="{{ new.get_absolute_url }}" class="article__link">Читать</a>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="empty-info">
        <p>В данный момент страница дорабатывается</p>
      </div>
      {% endif %}
    </div>
  </section>


  {% include "../../includes/_contact.html" %}

</main>
{% endblock %}