{% extends 'admin_base.html' %}{% load static %} {% load thumbnail %} {% block body %}

<div class="page">
  <div class="page__inner">
    <h1 class="page__title">Филлиалы</h1>
    <div class="page__head">
      <div class="page__head-tab">
        <a href="{% url 'fillial_add' %}" class="action-button">Создать</a>
      </div>
    </div>

    <div class="page__list tab-content _show" id="list">

      <div class="grid-items">
        {% for item in items %}
        <div class="grid-item">
          <div class="grid-item__image">
            {% if item.image %} {% thumbnail item.image "250x250" format="WEBP" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
            {% endthumbnail %} {% else%}
            <img src="{% static 'admin/img/no-image.png' %}" alt=""/>
            {% endif %}
          </div>
          <div class="grid-item__content">
            <a href="{% url 'fillial_edit' item.pk %}" class="grid-item__title">{{ item.name }}</a>
            {% if item.price %}<p>{{ item.price }} ₽</p>{% endif %}
            {% include 'common/_edit-block.html' with edit_url='fillial_edit' delete_url='fillial_delete' %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>

{% endblock %}