@font-face {
	font-family: "monologue";
	font-display: swap;
	src: url("../fonts/monologue-rounded-demo.woff2") format("woff2"), url("../fonts/monologue-rounded-demo.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
