<section class="contact">
  <div class="container">
    <h2 class="contact__title _title">Контакты</h2>
    <div class="contact__row">
      <div class="contact__col contact-info">
        <div class="contact-info__row">
          <div class="contact-info__icon">
            <i class="fa-solid fa-location-dot"></i>
          </div>
          <div class="contact-info__content" id="address">
            {{ branchs.address_fillial }}
          </div>
        </div>
        <div class="contact-info__row">
          <div class="contact-info__icon">
            <i class="fa-solid fa-phone-volume"></i>
          </div>
          <a href="tel:{{ settings.phone_one }}" class="contact-info__content reg-num" id="phone">
            {{ settings.phone_one }}
          </a>
        </div>
        <div class="contact-info__row">
          <div class="contact-info__icon">
            <i class="fa-solid fa-envelope"></i>
          </div>
          <a href="#" class="contact-info__content">{{ settings.email }}</a>
        </div>
        <div class="contact-info__row">
          <div class="contact-info__icon">
            <i class="fa-solid fa-calendar-days"></i>
          </div>
          <p class="contact-info__content" id="time-work">{{ branchs.time_work }}</p>
        </div>
        <div class="contact-info__row">
          <div class="contact-info__icon">
            <i class="fa-regular fa-calendar"></i>
          </div>
          <p class="contact-info__content" id="weekend">{{ branchs.weekend }}</p>
        </div>
      </div>
      <div class="contact__col form">
        <form action="" class="form__form" method="POST">
          {% csrf_token %}
          <div class="form__group require">{{ contactform.name }}</div>
          <div class="form__group">{{ contactform.phone }}</div>
          <div class="form__group">{{ contactform.email }}</div>
          <div class="form__group">{{ contactform.message }}</div>
          <div class="form__group form__group-row">
            <button type="submit" class="form__btn">Отправить</button>
            <div class="form__agree">
              <input type="checkbox" id="agree-checkbox" name="agreement" />
              <label for="agree-checkbox">
                Мы используем cookie. Это позволяет нам анализировать взаимодействие посетителей с сайтом и делать его
                лучше. Продолжая пользоваться сайтом, вы соглашаетесь с использованием файлов <a href="{% url 'cookie' %}">cookie</a> и <a
                href="{% url 'politika' %}">политикой конфиденциальности</a>.
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="contact__map" id="map">

    </div>
  </div>
</section>