.index-banner {
  height: 100vh;
  // margin-top: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 0px 0px 50px 50px;
  padding: clamp(30px, 10vw, 120px);

  @media screen and (max-width: 576px) {
    height: 500px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: .3);
  }

  //.index-banner__image
  &__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  @media screen and (max-width: 768px) {
    padding: 30px;
  }

  // .index-banner__container

  &__container {}

  // .index-banner__content

  &__content {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    @media screen and (max-width: 576px) {
      height: 500px;
    }
  }

  // .index-banner__undertitle

  &__undertitle {
    margin-bottom: 20px;
    color: $white;
    font-weight: 400;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: .5px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
      text-align: center;
    }
  }

  // .index-banner__title

  &__title {
    color: #f8f5f0;
    font-size: 130px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    font-family: "Merriweather", serif;
    line-height: 120%;

    @media screen and (max-width: 768px) {
      font-size: 80px;
    }

    @media screen and (max-width: 425px) {
      font-size: 40px;
    }
  }

  // .index-banner__btns

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
  }

  // .index-banner__btn

  &__btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    transition: $animation_speed;
    color: $white;
    width: 100%;
    min-width: 290px;
    padding: 10px 50px;
    background-color: rgba($color: $accent, $alpha: 0) !important;
    // border: 1px solid rgba($color: $accent, $alpha: 0);
  }
}