.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  box-shadow: 0px 0px 16px 0px rgba(230, 230, 230, 0.5);
  z-index: 99;

  // .header__container

  &__container {
  }

  // .header__inner

  &__inner {
  }

  // .header__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(84, 98, 114, 0.1);
  }

  // .header__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    padding: 15px 0px;
  }
}
.top-header {
  // .top-header__item

  &__item {
    display: flex;
    align-items: center;

    img,
    svg {
      margin-right: 7.5px;
    }

    p,
    a {
      color: $grey;
      font-size: 13.891px;
      font-weight: 200;
      line-height: 150%;
    }
  }

  // .top-header__socials

  &__socials {
    a {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.bottom-header {
  // .bottom-header__logo

  &__logo {
    display: flex;
    align-items: center;
  }

  // .bottom-header__logo--text

  &__logo--text {
    margin-left: 13px;
    p {
      color: #3390ec;
      font-weight: 200;
      line-height: 115%;

      &:first-child {
        font-size: 20px;
        margin-bottom: 4px;
      }

      &:last-child {
        font-size: 12px;
      }
    }
  }

  // .bottom-header__nav

  &__nav {
  }

  // .bottom-header__button

  &__button {
    button {
      border-radius: 10px;
      border: 1px solid $accent;
      background: $accent;
      box-shadow: 0px 0px 16px 0px rgba(230, 230, 230, 0.5);
      width: 196px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  // .menu__list

  &__list {
    width: 100%;
    display: flex;
    align-items: center;
  }

  // .menu__item

  &__item {
    display: flex;
    align-items: center;

    img,
    svg {
      margin-top: 5px;
      margin-left: 6px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  // .menu__item--service

  &__item--service {
    img,
    svg {
      margin-right: 15px;
    }
  }

  // .menu__link

  &__link {
    color: #546272;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px; /* 177.778% */
  }
}
