.header {
  border-bottom: 1px solid rgba($color: $accent, $alpha: 0.3);
  height: 100px;

  // .header__container

  &__container {
    height: 100%;
  }

  //   .header__inner
  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__logo

  &__logo {
    display: flex;
    align-items: center;
    padding-right: 50px;
    font-family: $secondaryFont;
    height: 100%;
    font-size: 25px;
    font-weight: 300;
    border-right: 1px solid rgba($color: $accent, $alpha: 0.3);
  }

  // .header__contact

  &__contact {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba($color: $accent, $alpha: 0.3);
    color: $accent;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;

    &:hover {
      .header__hide {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
      }
    }
  }

  // .header__hide

  &__hide {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $accent;
    width: 100%;
    color: $mainColor;
    transform: translateY(50px);
    opacity: 0;
    pointer-events: none;
    transition: $animation_speed;
    z-index: 99;

    a {
      display: flex;
      padding: 15px 20px;
      font-size: 18px;
      transition: $animation_speed;

      &:hover {
        background-color: rgba($color: $white, $alpha: 0.3);
      }

      &:first-child {
        font-weight: 700;
      }
    }

    button {
      display: flex;
      align-items: flex-start;
      width: 100%;
      padding: 15px 20px;
      font-weight: 600;
      transition: $animation_speed;

      &:hover {
        background-color: rgba($color: $white, $alpha: 0.3);
      }
    }
  }
}
.nav {
  display: flex;

  // .nav__link

  &__link {
    display: flex;
    padding: 30px 20px;
    font-size: 16px;
    transition: $animation_speed;

    &:hover {
      color: $accent;
    }
  }
}
