.header {

    // .header__top

    &__top {
    }

    // .header__bottom

    &__bottom {
    }
}

.top-header {
    border-bottom: 1px solid rgba($color: $mainColor, $alpha: .2);
    padding: 10px 0px;

    // .top-header__container

    &__container {
    }

    // .top-header__inner

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .top-header__logo

    &__logo {
        font-size: 50px;
        margin-right: clamp(20px, 10vw, 290px);

        img{
            width: 70px;
        }
    }

    // .top-header__nav

    &__nav {
    }

    // .top-header__actions

    &__actions {

        a{
            font-family: $secondaryFont;
            font-weight: 800;
        }

        button{
            background-color: #e76642;
            color: $white;
            font-family: $secondaryFont;
            padding: 10px 30px;
            border-radius: 8px;
            margin-left: clamp(20px, 10vw, 150px);
            transition: $animation_speed;

            &:hover{
                background-color: #2c4d68;
            }
        }
    }

    // .top-header__phone
    &__phone{
        transition: $animation_speed;

        &:hover{
            color: #e76642;
        }
    }
}

.nav {
    flex: 1 1 auto;

    // .nav__list

    &__list {
        display: flex;
        align-items: center;
    }

    // .nav__item

    &__item {
    }

    // .nav__link

    &__link {
        display: flex;
        padding: 10px 20px;
        font-family: $secondaryFont;
        font-size: 16px;
        font-weight: 600;
        border-radius: 8px;
        transition: $animation_speed;


        &.active{
            color: $white;
            background-color: $mainColor;
            border-radius: 8px;
        }

        &:hover{
            // color: #25547a;
            color: $white;
            background-color: $mainColor;
        }
    }
}

.bottom-header {

    // .bottom-header__container

    &__container {
    }

    // .bottom-header__days

    &__days {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .bottom-header__day

    &__day {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px 0px;
        border-bottom: 3px solid rgba($color: #e76642, $alpha: 0);
        transition: $animation_speed;

        &.active{
            border-color: rgba($color: #e76642, $alpha: 1.0);   
        }

        &:hover{
            border-color: rgba($color: #e76642, $alpha: 1.0);   
        }
    }

    // .bottom-header__day--name

    &__day--name {
        font-size: 17px;
    }

    // .bottom-header__day--number

    &__day--number {
        font-size: 14px;
       font-family: $secondaryFont; 
       font-weight: 600;
       color: rgba($color: $mainColor, $alpha: .7);
    }
}

