.index-slider {
  // .index-slider__slider

  &__slider {
  }

  // .index-slider__wrapper

  &__wrapper {
  }

  // .index-slider__slide

  &__slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 100px) !important;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0%;
      background-color: rgba($color: $mainColor, $alpha: 0.7);
    }
  }

  // .index-slider__container

  &__container {
    height: 100%;
  }

  // .index-slider__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  // .index-slider__logo

  &__logo {
    font-family: $secondaryFont;
    font-size: 100px;
    color: $accent;
    text-transform: uppercase;
  }

  // .index-slider__subtitle

  &__subtitle {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 900;
    // text-transform: uppercase;
    margin-bottom: 60px;
  }

  // .index-slider__btn

  &__btn {
    position: relative;
    width: 290px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: $accent, $alpha: 0.6);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;

    &::before {
      content: "";
      position: absolute;
      left: 0%;
      top: 50%;
      width: 1px;
      height: 30px;
      margin-top: -15px;
      background-color: $accent;
      opacity: 0;
      transition: $animation_speed;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0%;
      top: 50%;
      width: 1px;
      height: 30px;
      margin-top: -15px;
      background-color: $accent;
      opacity: 0;
      transition: $animation_speed;
    }

    &:hover {
      &::after {
        right: -3%;
        opacity: 1;
      }

      &::before {
        opacity: 1;
        left: -3%;
      }
      .line-top {
        opacity: 1;
        bottom: 112%;
      }

      .line-bottom {
        opacity: 1;
        top: 112%;
      }
    }
  }

  .line-top {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 240px;
    height: 1px;
    margin-left: -120px;
    opacity: 0;
    background-color: $accent;
    transition: $animation_speed;
  }
  .line-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 1px;
    opacity: 0;
    margin-left: -120px;
    background-color: $accent;
    transition: $animation_speed;
  }
}
