.index-slider {
  margin-top: 110px;

  // .index-slider__slider

  &__slider {
  }

  // .index-slider__wrapper

  &__wrapper {
  }

  // .index-slider__slide

  &__slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 110px) !important;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0%;
      background-color: rgba($color: $mainColor, $alpha: 0.7);
    }
  }

  // .index-slider__container

  &__container {
    height: 100%;
  }

  // .index-slider__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 2;
  }

  // .index-slider__logo

  &__logo {
    font-family: $secondaryFont;
    font-size: 100px;
    color: $bodyColor;
    text-transform: uppercase;
  }

  // .index-slider__title
  &__title {
    font-size: 50px;
    color: $bodyColor;
    max-width: 1100px;
    text-align: center;
    line-height: 130%;
  }

  // .index-slider__subtitle

  &__subtitle {
    margin-top: 30px;
    margin-bottom: 60px;

    &--name {
      margin-top: 30px;
      margin-bottom: 60px;
      font-size: 30px;
      font-weight: 900;
      color: rgba($color: $bodyColor, $alpha: 0.8);
    }
  }

  // .index-slider__btn

  &__btn {
    position: relative;
    width: 290px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: $accent, $alpha: 0.6);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;

    &::before {
      content: "";
      position: absolute;
      left: 0%;
      top: 50%;
      width: 1px;
      height: 30px;
      margin-top: -15px;
      background-color: $accent;
      opacity: 0;
      transition: $animation_speed;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0%;
      top: 50%;
      width: 1px;
      height: 30px;
      margin-top: -15px;
      background-color: $accent;
      opacity: 0;
      transition: $animation_speed;
    }

    &:hover {
      &::after {
        right: -3%;
        opacity: 1;
      }

      &::before {
        opacity: 1;
        left: -3%;
      }
      .line-top {
        opacity: 1;
        bottom: 112%;
      }

      .line-bottom {
        opacity: 1;
        top: 112%;
      }
    }
  }

  .line-top {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 240px;
    height: 1px;
    margin-left: -120px;
    opacity: 0;
    background-color: $accent;
    transition: $animation_speed;
  }
  .line-bottom {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 1px;
    opacity: 0;
    margin-left: -120px;
    background-color: $accent;
    transition: $animation_speed;
  }
}

.menu-list {
  padding: 100px 0px 50px;
  background-color: #fffdf8;
  color: $mainColor;
  position: relative;

  &:nth-child(even) {
    background-color: rgba($color: #f3f1eb, $alpha: 1);
  }

  // .menu-list__container

  &__container {
  }

  // .menu-list__inner

  &__inner {
    @media screen and (min-width: 767px) {
      display: flex;
    }
  }

  //   .menu-list__leftside
  &__leftside {
    min-width: 250px;
  }

  // .menu-list__title

  &__title {
    font-size: 22px;
    position: sticky;
    top: 10px;
  }

  // .menu-list__grid

  &__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px 30px;
  }

  // .menu-list__item

  &__item {
  }
}

.item-list {
  &:hover {
    .item-list__zoombtn {
      display: flex;
    }
  }

  // .item-list__image

  &__image {
    width: 100%;
    height: 290px;
    position: relative;
    padding: 0px 0px 60%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  //   .item-list__zoombtn
  &__zoombtn {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: rgba($color: $mainColor, $alpha: 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid rgba($color: $accent, $alpha: 1);
    z-index: 2;
    cursor: pointer;

    &::after {
      content: "";
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      background-image: url(../img/zoom-icon.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  // .item-list__content

  &__content {
    padding: 10px 0px;
  }

  // .item-list__leftside

  &__leftside {
  }

  // .item-list__name

  &__name {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  // .item-list__charact

  &__charact {
    font-size: 15px;
    color: rgba($color: $mainColor, $alpha: 0.6);
  }

  // .item-list__descr

  &__descr {
    display: none;
  }
}

.reviews {
  padding: 50px 0px;
  background-color: #f3f1eb;

  // .reviews__container

  &__container {
  }

  // .reviews__inner

  &__inner {
  }

  // .reviews__block-top

  &__block-top {
  }

  // .reviews__title

  &__title {
  }

  // .reviews__slider

  &__slider {
  }

  // .reviews__wrapper

  &__wrapper {
    padding: 20px 0px;
  }

  // .reviews__slide

  &__slide {
    position: relative;
    padding: 30px 20px;
    border: 1px solid rgba($color: $accent, $alpha: 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100% !important;
    background-color: $bodyColor;
  }

  .swiper-slide-active {
    box-shadow: 0px 0px 10px rgba($color: $mainColor, $alpha: 0.05);
    .reviews__quote {
      top: 0;
      opacity: 1;
    }
  }

  // .reviews__quote

  &__quote {
    width: 100px;
    color: $accent;
    line-height: 100px;
    position: absolute;
    top: -43px;
    opacity: 0;
    right: 50%;
    font-family: $playForDisplay;
    font-size: 220px;
    font-style: italic;
    text-shadow: 0 2px 7px rgba(26, 47, 51, 0.15);
    transition: 0.6s ease-in-out;
  }

  // .reviews__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .reviews__avatar

  &__avatar {
    overflow: hidden;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .reviews__name

  &__name {
    font-size: 16px;
    text-align: right;
    p {
      font-weight: 600;
      margin-bottom: 10px;
    }

    span {
      color: rgba($color: $mainColor, $alpha: 0.6);
      font-size: 14px;
    }
  }

  // .reviews__bottom

  &__bottom {
    margin-top: 25px;
  }

  // .reviews__text

  &__text {
    max-height: 100px;
    font-size: 15px;
    line-height: 150%;
    overflow: hidden;
  }

  // .reviews__btn
  &__btn {
    font-size: 16px;
    font-weight: 800;
    color: $accent;
    padding: 20px 0px 0px;
    transition: $animation_speed;

    &:hover {
      color: #74aa4b;
    }
  }

  // .reviews__contarols

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    // .reviews__contarols-btn

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 290px;
      height: 50px;
      background-color: $accent;
      color: $bodyColor;
      font-size: 15px;
      transition: $animation_speed;

      &:hover {
        background-color: #74aa4b;
      }
    }

    // .reviews__contarols-pagination

    &-pagination {
      position: relative;
    }

    // .reviews__controls-inherit
    &-inherit {
      display: flex;
      align-items: center;
    }

    // .reviews__contarols-prev

    &-prev,
    &-next {
      position: relative;
      width: 50px !important;
      height: 50px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $accent;
      transition: $animation_speed;

      &:hover {
        background-color: #74aa4b;
      }

      &::after {
        font-size: 20px !important;
        color: $bodyColor;
      }
    }

    &-prev {
      margin-right: 20px;
    }

    // .reviews__contarols-next

    &-next {
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      margin-top: 0;
    }

    .swiper-pagination {
      position: relative;
      bottom: 0 !important;
      left: 0% !important;
      transform: translateX(0%) !important;
    }

    .swiper-pagination-bullet {
      background-color: $accent;
      width: 12px;
      height: 12px;
    }
    .swiper-pagination-bullet-active {
    }
  }
}

.about {
  padding: 100px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: 0.6);
  }

  // .about__container

  &__container {
    position: relative;
    z-index: 2;
  }

  // .about__title

  &__title {
    text-align: center;
    color: $bodyColor;
  }

  // .about__inner

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .about__image

  &__image {
    img {
      max-width: 100%;
    }
  }

  // .about__content

  &__content {
    color: $bodyColor;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    line-height: 150%;
  }

  // .about__btn
  &__btn {
    margin-top: 50px;
    width: 290px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bodyColor;
    font-size: 16px;
    background-color: $accent;
    transition: $animation_speed;

    &:hover {
      background-color: #74aa4b;
    }
  }
}

.callback {
  padding: 100px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $mainColor, $alpha: 0.8);
  }

  // .callback__container

  &__container {
    position: relative;
    z-index: 2;
  }

  // .callback__title

  &__title {
    text-align: center;
    color: $bodyColor;
    margin-bottom: 20px;
  }

  // .callback__subtitle

  &__subtitle {
    color: $bodyColor;
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  // .callback__form

  &__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
    justify-content: center;
    justify-items: center;
  }

  // .callback__input

  &__input {
    background: transparent;
    height: 50px;
    width: 100%;
    border: 1px solid rgba($color: $bodyColor, $alpha: 0.7);
    padding: 0px 20px;
    color: $bodyColor;

    &::placeholder {
      color: $bodyColor;
    }

    &:focus {
      border-color: $bodyColor;
      outline: none;
    }
  }

  // .callback__submit

  &__submit {
    background-color: $accent;
    width: 100%;
    color: $bodyColor;
    font-size: 16px;
    transition: $animation_speed;

    &:hover {
      background-color: #74aa4b;
    }
  }
}
