.popup-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 450px;
  height: 100vh;
  background-color: $bodyColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  z-index: 101;
  overflow-y: auto;
  transition: $animation_speed;

  &.show {
    right: 0;
  }

  //   .popup-menu__nav
  &__nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0px;
  }
  // .popup-menu__close

  &__close {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $accent;
      transform: rotate(-45deg);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $accent;
      transform: rotate(45deg);
    }
  }

  // .popup-menu__link

  &__link {
    display: block;
    padding: 20px 20px;
    font-size: 18px;
    border-bottom: 1px solid rgba($color: $mainColor, $alpha: 0.1);
    transition: $animation_speed;

    &:hover {
      background-color: rgba($color: $accent, $alpha: 0.1);
    }
  }

  // .popup-menu__socials

  &__socials {
    display: flex;
    margin-bottom: 50px;
  }

  // .popup-menu__socials-link

  &__socials-link {
    &:not(:last-child) {
      margin-right: 15px;
    }
    font-size: 25px;
    color: rgba($color: $mainColor, $alpha: 0.7);
  }

  // .popup-menu__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: $accent;
    color: $bodyColor;
    font-size: 16px;
    transition: $animation_speed;

    &:hover {
      background-color: #74aa4b;
    }
  }
}
