.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba($color: $accent, $alpha: 0.1);
  background-color: $bodyColor;
  transition: $animation_speed;
  z-index: 99;
  overflow: hidden;

  &:hover {
    width: 290px;
    .side-menu__open {
      opacity: 0;
      width: 0;
      pointer-events: none;
    }

    .side-menu__list {
      display: block;
    }
  }

  // .side-menu__inner

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .side-menu__open

  &__open {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(-180deg);
    pointer-events: all;
    color: $accent;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1;
    background-color: $bodyColor;

    p {
      writing-mode: vertical-lr;
      text-orientation: mixed;
    }

    i {
      // margin-left: 10px;
      margin-top: 10px;
      transform: rotate(-90deg);
    }
  }

  // .side-menu__list

  &__list {
    display: none;
    width: 290px;
    padding: 0px 20px;
  }

  // .side-menu__item

  &__item {
    display: flex;
    align-items: center;

    img,
    svg {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  // .side-menu__link

  &__link {
    display: flex;
    align-items: center;
    font-size: 17px;
    letter-spacing: 1px;
    color: $accent;
    padding: 20px 0px;
    // font-family: $menuFont;
    text-wrap: nowrap;
  }
}
