{% extends 'base.html' %}
{% load static %}
{% load carts_tag %}
{% load thumbnail %}
{% block title %}{{ home_page.meta_title }}{% endblock %}
{% block description %}{{ home_page.meta_description }}{% endblock %}
{% block keywords %}{{ home_page.meta_keywords }}{% endblock %}

{% block content %}
<main class="page">
  {% include "../section/full-slider.html" with home_page=home_page %}

  <div class="index-service">
    <button type="button" class="index-service__union"
            style="background-image: url({% static 'theme/img/Union.svg' %})">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 512 512">
          <path
            d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
        </svg>
      </span>
    </button>
    <div class="container">
      <div class="index-service__grid">
        {% if services %}
        {% for service in services %}
        <a href="{{ service.get_absolute_url }}" class="index-service__item item-service">
          <img src="{{ service.image.url }}" alt="" class="index-service__img">
          <p class="index-service__title">{{ service.name }}</p>
          <p class="index-service__descr">
            {{ service.subtitle|safe|truncatechars:150 }}
          </p>
        </a>
        {% endfor %}
        {% else %}
        не заполнено
        {% endif %}
      </div>
    </div>
  </div>

  <div class="index-catalog" id="index-catalog">
    <div class="container">
      <h2 class="index-catalog__title title--dark">Меню дня</h2>
      <div class="index-catalog__tab tab">
        <div class="day-single__days">
          {% if categorys %}
          {% for category in categorys %}
          <a href="{{ category.get_absolute_url }}" data-id="{{ category.id }}" class="day-single__day category-link"
             data-name="{{ category.name }}">
            {{ category.name }}
          </a>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="tab__content">
        <div id="products-container"></div>
        <div class="tab__content-grid" id="products-grid" data-name="{{ category.name }}">

        </div>
      </div>
    </div>
  </div>

  <div class="index-about">
    <img src="{% static 'theme/mb/images/separator_detail.svg' %}" alt="" class="separator-img">
    <div class="container">
      <div class="index-about__inner">
        <h2 class="index-about__title _title">Почему мы ?</h2>
        <div class="index-about__who who">
          <div class="who__grid">
            <div class="who__item">
              <div class="who__icon">
                <i class="fa-solid fa-utensils"></i>
              </div>
              <p class="who__text">Домашняя кухня</p>
            </div>
            <div class="who__item">
              <div class="who__icon">
                <i class="fa-regular fa-face-smile"></i>
              </div>
              <p class="who__text">Душевность</p>
            </div>
            <div class="who__item">
              <div class="who__icon">
                <i class="fa-regular fa-thumbs-up"></i>
              </div>
              <p class="who__text">Уникальность</p>
            </div>
            <div class="who__item">
              <div class="who__icon">
                <i class="fa-solid fa-wand-magic-sparkles"></i>
              </div>
              <p class="who__text">Креативность</p>
            </div>
            <div class="who__item">
              <div class="who__icon">
                <i class="fa-solid fa-shield-heart"></i>
              </div>
              <p class="who__text">Безопасность</p>
            </div>
          </div>
        </div>
        <div class="index-about__text">
          <h2 class="index-about__title _title">Немного о нас </h2>
          <div class="index-about__row">
            <div class="index-about__col">{{ home_page.left_text | safe }}
            </div>
            <div class="index-about__col">{{ home_page.right_text | safe }}</div>
          </div>
          <a href="{% url 'about' %}" class="index-about__link">Подробнее о нас</a>
        </div>
      </div>
    </div>
  </div>

  {% if reviews %}
    {% include "../includes/_reviews.html" %}
  {% endif %}

  {% include "../includes/_callback.html" with home_page=home_page %}

  <div class="index-blog">
    <div class="container">
      <h2 class="index-blog__title _title">Интересное для Вас</h2>
      <div class="index-blog__tab">
        <button type="button" class="index-blog__tigger _active" data-id="news">Новости</button>
        <button type="button" class="index-blog__tigger" data-id="article">Статьи</button>
        <button type="button" class="index-blog__tigger" data-id="stock">Акции</button>
      </div>
      <div class="index-blog__grid _active" id="news">
        {% if news %}
        {% for new in news %}
        <div class="index-blog__item">
          <a href="{{ new.get_absolute_url }}" class="index-blog__item-image">
            {% if new.image %}
            <img src="{{ new.image.url }}" alt="{{ new.name }}" title="{{ new.name }}">
            {% else %}
            <img src="{% static 'theme/img/no-image.jpg' %}" alt="{{ new.name }}" title="{{ new.name }}">
            {% endif %}
          </a>
          <div class="index-blog__item-content">
            <a href="{{ new.get_absolute_url }}" class="index-blog__item-title">{{ new.name|truncatechars:50 }}</a>
            <a href="{{ new.get_absolute_url }}" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <div class="index-blog__grid" id="article">
        {% if articles %}
        {% for article in articles %}
        <div class="index-blog__item">
          <a href="{{ article.get_absolute_url }}" class="index-blog__item-image">
            {% if article.image %}
            <img src="{{ article.image.url }}" alt="{{ article.name }}" title="{{ article.name }}">
            {% else %}
            <img src="{% static 'theme/img/no-image.jpg' %}" alt="{{ article.name }}" title="{{ article.name }}">
            {% endif %}
          </a>
          <div class="index-blog__item-content">
            <a href="{{ article.get_absolute_url }}" class="index-blog__item-title">{{ article.name|truncatechars:80  }}</a>
            <a href="{{ article.get_absolute_url }}" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <div class="index-blog__grid" id="stock">
        {% if stocks %}
        {% for stock in stocks %}
        <div class="index-blog__item">
          <a href="{{ stock.get_absolute_url }}" class="index-blog__item-image">
            {% if stock.image %}
            <img src="{{ stock.image.url }}" alt="{{ stock.name }}" title="{{ stock.name }}">
            {% else %}
            <img src="{% static 'theme/img/no-image.jpg' %}" alt="{{ stock.name }}" title="{{ stock.name }}">
            {% endif %}
          </a>
          <div class="index-blog__item-content">
            <a href="{{ stock.get_absolute_url }}" class="index-blog__item-title">{{ stock.title|truncatechars:80  }}</a>
            <a href="{{ stock.get_absolute_url }}" class="index-blog__item-btn _btn">Читать</a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  {% include "../includes/_contact.html" %}

</main>
{% endblock %}